import pytest
from click.testing import CliRunner

from {{ package_name }}.entry import main
from {{ package_name }}.config.meta import __TITLE__, __VERSION__

pytestmark = pytest.mark.unittest


def test_cli_help():
    runner = CliRunner()
    result = runner.invoke(main, ["--help"])
    assert result.exit_code == 0
    assert "{{ project_summary }}" in result.output


def test_cli_output():
    runner = CliRunner()
    result = runner.invoke(main, [])
    assert result.exit_code == 0
    assert result.output.strip() == f"{__TITLE__} {__VERSION__}"
