from {{ package_name }} import __version__
from {{ package_name }}.config.meta import __TITLE__


def main():
    print(__TITLE__)
    print(f"version={__version__}")


if __name__ == "__main__":
    main()
