快速开始
========

这个页面用于证明生成出的仓库可以直接构建 demo、Graphviz、以及 PlantUML 资产。

.. code-block:: bash

    make bootstrap
    make unittest
    make docs

Demo 输出
---------

.. literalinclude:: demo_hello.demo.txt
   :language: text

