import os
import re
import shutil
import sys
from datetime import datetime
from subprocess import Popen

from packaging import version as version_

_DOC_PATH = os.path.dirname(os.path.abspath(__file__))
_PROJ_PATH = os.path.abspath(os.path.join(_DOC_PATH, "..", ".."))
_LIBS_PATH = os.path.join(_DOC_PATH, "_libs")
_SHIMS_PATH = os.path.join(_DOC_PATH, "_shims")
os.chdir(_PROJ_PATH)

sys.path.insert(0, _PROJ_PATH)
modnames = [mname for mname in sys.modules if mname.startswith("{{ package_name }}")]
for modname in modnames:
    del sys.modules[modname]

if not os.environ.get("NO_CONTENTS_BUILD"):
    _env = dict(os.environ)
    _env.update(
        dict(
            SOURCEDIR=_DOC_PATH,
            BUILDDIR=os.path.abspath(os.path.join(_DOC_PATH, "..", "build")),
            PYTHONPATH=":".join([_PROJ_PATH, _LIBS_PATH]),
            PATH=":".join([_SHIMS_PATH, os.environ.get("PATH", "")]),
        )
    )
    all_cmd = ("make", "-f", "all.mk", "build")
    print(f"Building doc assets {all_cmd!r} at {_DOC_PATH!r}...")
    all_ = Popen(all_cmd, stdout=sys.stdout, stderr=sys.stderr, env=_env, cwd=_DOC_PATH)
    if all_.wait() != 0:
        raise ChildProcessError(f"Doc asset build failed with {all_.returncode}.")

from {{ package_name }}.config.meta import __AUTHOR__, __TITLE__, __VERSION__

project = __TITLE__
copyright = f"{datetime.now().year}, {__AUTHOR__}"
author = __AUTHOR__
version = version_.parse(__VERSION__).base_version
release = __VERSION__

extensions = [
    "sphinx.ext.autodoc",
    "sphinx.ext.doctest",
    "sphinx.ext.mathjax",
    "sphinx.ext.ifconfig",
    "sphinx.ext.viewcode",
    "sphinx.ext.githubpages",
    "sphinx.ext.todo",
    "sphinx.ext.graphviz",
    "sphinx_multiversion",
]

templates_path = ["_templates"]

READTHEDOCS_LANGUAGE = os.environ.get("READTHEDOCS_LANGUAGE", "en")
language = READTHEDOCS_LANGUAGE
if "zh" in re.split(r"[_-]+", language.lower()):
    language = "zh"

_source_index = os.path.join(_DOC_PATH, f"index_{language}.rst")
_target_index = os.path.join(_DOC_PATH, "index.rst")
if not os.path.exists(_source_index):
    raise FileNotFoundError(f"Source index file not found: {_source_index!r}.")
shutil.copyfile(_source_index, _target_index)

master_doc = "index"
exclude_patterns = []
if language == "zh":
    exclude_patterns.extend([
        "index_zh.rst",
        "api_doc_zh.rst",
        "index_en.rst",
        "api_doc_en.rst",
        "tutorials/installation/index_en.rst",
        "tutorials/quick_start/index_en.rst",
    ])
else:
    exclude_patterns.extend([
        "index_en.rst",
        "api_doc_en.rst",
        "index_zh.rst",
        "api_doc_zh.rst",
        "tutorials/installation/index_zh.rst",
        "tutorials/quick_start/index_zh.rst",
    ])

html_theme = "sphinx_rtd_theme"
htmlhelp_basename = "{{ repo_name }}"
html_static_path = ["_static"]
html_css_files = ["css/custom.css"]

html_context = {
    "display_github": True,
    "github_user": "{{ github_owner }}",
    "github_repo": "{{ repo_name }}",
    "github_version": "main",
    "conf_py_path": "/docs/source/",
}

if language == "zh":
    html_context["language"] = "zh_CN"
    html_context["languages"] = [
        ("English", "../en/"),
        ("中文", "../zh/"),
    ]
else:
    html_context["language"] = "en"
    html_context["languages"] = [
        ("English", "../en/"),
        ("中文", "../zh/"),
    ]

epub_title = project
epub_exclude_files = ["search.html"]

smv_tag_whitelist = r"^v.*$"
smv_branch_whitelist = r"^.*$"
smv_remote_whitelist = r"^.*$"
smv_released_pattern = r"^tags/.*$"
smv_outputdir_format = "{ref.name}"

if not os.environ.get("ENV_PROD"):
    todo_include_todos = True
    todo_emit_warnings = True
