Installation
============

Install from PyPI:

.. code-block:: bash

    pip install {{ dist_name }}

Install for development:

.. code-block:: bash

    git clone https://github.com/{{ github_owner }}/{{ repo_name }}.git
    cd {{ repo_name }}
    make bootstrap

