安装
====

从 PyPI 安装：

.. code-block:: bash

    pip install {{ dist_name }}

开发环境安装：

.. code-block:: bash

    git clone https://github.com/{{ github_owner }}/{{ repo_name }}.git
    cd {{ repo_name }}
    make bootstrap

