{% set python_min_minor = python_min.split('.')[1] | int %}
{% set python_max_minor = python_max.split('.')[1] | int %}
name: Code Test

on:
  push:
  workflow_dispatch:

jobs:
  unittest:
    name: Code test
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    if: {% raw %}${{ !contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'test skip') }}{% endraw %}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - windows-2022
          - macos-14
        python-version:
{% for python_minor in range(python_min_minor, python_max_minor + 1) %}
          - "3.{{ python_minor }}"
{% endfor %}
{% if python_min_minor <= 7 and python_max_minor >= 7 %}
        exclude:
          - os: macos-14
            python-version: "3.7"
{% endif %}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 20

      - name: Set up system dependencies on Linux
        if: {% raw %}${{ runner.os == 'Linux' }}{% endraw %}
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y tree cloc wget curl make

      - name: Set up system dependencies on Windows
        if: {% raw %}${{ runner.os == 'Windows' }}{% endraw %}
        shell: bash
        run: |
          choco install tree cloc wget curl make

      - name: Set up system dependencies on macOS
        if: {% raw %}${{ runner.os == 'macOS' }}{% endraw %}
        shell: bash
        run: |
          brew install tree cloc wget curl make

      - name: Set up Python {% raw %}${{ matrix.python-version }}{% endraw %}
        uses: actions/setup-python@v6
        with:
          python-version: {% raw %}${{ matrix.python-version }}{% endraw %}

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          make bootstrap

      - name: Show environment
        shell: bash
        run: |
          python -V
          pip --version
          pip list
          tree .
          cloc {{ package_name }}
          cloc test

      - name: Run unittest
        env:
          CI: "true"
        shell: bash
        run: |
          make unittest

      - name: Upload coverage to Codecov
        if: {% raw %}${{ secrets.CODECOV_TOKEN != '' }}{% endraw %}
        uses: codecov/codecov-action@v4
        with:
          token: {% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw %}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
{% if with_pyinstaller %}

  build_cli:
    name: CLI Build
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    if: {% raw %}${{ !contains(github.event.head_commit.message, 'ci skip') }}{% endraw %}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - windows-2022
          - macos-14
        python-version:
          - "{{ python_max }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up system dependencies on Linux
        if: {% raw %}${{ runner.os == 'Linux' }}{% endraw %}
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Set up system dependencies on Windows
        if: {% raw %}${{ runner.os == 'Windows' }}{% endraw %}
        shell: bash
        run: |
          choco install make

      - name: Set up system dependencies on macOS
        if: {% raw %}${{ runner.os == 'macOS' }}{% endraw %}
        shell: bash
        run: |
          brew install make

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: {% raw %}${{ matrix.python-version }}{% endraw %}

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          make bootstrap

      - name: Build CLI
        shell: bash
        run: |
          make build
{% endif %}
