__TITLE__ = "{{ dist_name }}"
__VERSION__ = "{{ initial_version }}"
__DESCRIPTION__ = "{{ project_summary }}"
__AUTHOR__ = "{{ author_name }}"
__AUTHOR_EMAIL__ = "{{ author_email }}"
__LICENSE__ = "{{ license_name }}"
__KEYWORDS__ = "{{ project_keywords }}"
__URL__ = "https://github.com/{{ github_owner }}/{{ repo_name }}"
__DOC__ = "https://{{ repo_name }}.readthedocs.io/en/latest/"

