import click

from ..config.meta import __TITLE__, __VERSION__


@click.command(context_settings={"help_option_names": ["-h", "--help"]})
@click.version_option(__VERSION__, prog_name=__TITLE__)
def main():
    """{{ project_summary }}"""
    click.echo(f"{__TITLE__} {__VERSION__}")
